
.container {
    display: flex; /* */
    justify-content: center;
    align-items: center;
}
.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    background-color: black;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 25px 7px rgb(28, 202, 80);
}

.calculadora button{
    background-color: wheat;
    padding: 12px;
    margin: 7px;
    border-radius: 50px;
}

button:hover{
    background-color: yellowgreen;
}

.numCero{
    grid-column: span 2;
    
}

#IdlabelResultado{
    background-color: white;
    grid-column: span 4;
    border-style: 6px solid;
    padding: 15px;
    
}