.menu li{
    list-style: none;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px 10px;
    /*margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 60px;*/
    margin: 10px;
    padding: 5px 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: blueviolet;
    
 }

 .cabecera h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
    color: blueviolet;
 }

 .menu{
    background-color: aquamarine;
    text-align: center;

 }

 header, section, footer, aside, nav, article {
    display: block;

 }

 body{
    text-align: center;
    background-color: turquoise;
    
 }

 .formulario{
    width: 900px;
    border: 1px double black;
    margin: 15px auto;
 }

 .secction{
    margin: 20px;
    width: 600px;
    float: left;
 }

 article{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 25px;
    background: violet;
    box-shadow: 2px 2px 2px 2px cornflowerblue;
    

   }

 /*
 h1{
    color: red;
 }
 h2{
    color: red;
 }
 h1,h2,h3 {
    color: red;
 }
 */

.referencias{
   border: 1px solid black;
   width: 200px;
   float: left;
   margin-top: 100px;
   margin-left: 20px;
 }

article footer{
   text-align: right;
}

.pie{
   /*Estilo general para el pie*/
   clear: both;

}
article img{
   width: 200px;
   height: 210px;
}
